{
	defaultFormatting = "longFormatting";
	shortFormatting =
	{
		// prefixString = "<div style=\"background-color: yellow;\">";
		// suffixString = "</div>";
		children =
		(
			{
				prefix = { string = "["; };
				formatString = "${subject.blob}";
				escapeHTML = 1;
				suffix = { string = "] "; };
				singleClick =
				{
					titleFormatting = { prefixString = "Related to "; formatString = "${list-id.identifier:?“${list-id.identifier}”:[${subject.blob}]}"; };
					queryFormatting = { formatString = "${list-id.identifier:?list-id.identifier = '${list-id.identifier}':subject.blob = '${subject.blob}'}"; escapeSingleQuotes = 1; };
				};
				copyValues =
				(
					{ title = ''; valueFormatting = { formatString = '${subject}'; }; },
					{ title = 'Blob Only'; valueFormatting = { formatString = '${subject.blob}'; }; },
				);
			},
			{
				formatString = "${subject.body}";
				escapeHTML = 1;
				singleClick =
				{
					titleFormatting = { prefixString = "Related to "; formatString = "“${subject.body}”"; };
					queryFormatting = { formatString = "subject.body = '${subject.body}'"; escapeSingleQuotes = 1; };
				};
				copyValues =
				(
					{ title = ''; valueFormatting = { formatString = '${subject}'; }; },
					{ title = 'Without Prefix'; valueFormatting = { formatString = '${subject.body}'; }; },
				);
			},
			{
				prefix = { prefixString = " "; suffixString = " "; string = " ❙ "; };
				formatString = "${from.name:${from.address}}";
				escapeHTML = 1;
				placeholderString = "Unknown";
//				fontStyle = bold;
				singleClick =
				{
					titleImage = "NSUser";
					titleFormatting = { prefixString = "From "; formatString = "“${from.address}”"; };
					queryFormatting = { formatString = "from.address = '${from.address}'"; separatorString = " or "; escapeSingleQuotes = 1; };
				};
				toolTip = { formatString = "${from}"; };
				copyValues =
				(
					{ title = ''; valueFormatting = { formatString = '${from.name:+${from.name} <${from.address}>}'; }; },
					{ title = 'Address Only'; valueFormatting = { formatString = '${from.address}'; }; },
					{ title = 'Name Only'; valueFormatting = { formatString = '${from.name}'; }; },
				);
				isAddress = :true;
				relatedSearches =
				(
					{
						titleImage = "NSUser";
						titleFormatting = { formatString = "From “${from.address}”"; };
						queryFormatting = { formatString = "from.address = '${from.address}'"; escapeSingleQuotes = 1; };
					},
					{
						titleImage = "NSUser";
						titleFormatting = { formatString = "From “${from.name}”"; };
						queryFormatting = { formatString = "from.name = '${from.name}'"; escapeSingleQuotes = 1; };
					},
				);
			},
			{
				prefix = { string = " (via "; };
				suffix = { string = ")"; };
				formatString = "${resent-from.name:${resent-from.address}}";
				escapeHTML = 1;
				singleClick =
				{
					titleImage = "NSUser";
					titleFormatting = { prefixString = "Resent from "; formatString = "“${resent-from.address}”"; };
					queryFormatting = { formatString = "resent-from.address = '${resent-from.address}'"; separatorString = " or "; escapeSingleQuotes = 1; };
				};
				toolTip = { formatString = "${resent-from}"; };
				copyValues =
				(
					{ title = ''; valueFormatting = { formatString = '${resent-from.name:+${resent-from.name} <${resent-from.address}>}'; }; },
					{ title = 'Address Only'; valueFormatting = { formatString = '${resent-from.address}'; }; },
					{ title = 'Name Only'; valueFormatting = { formatString = '${resent-from.name}'; }; },
				);
				isAddress = :true;
				relatedSearches =
				(
					{
						titleImage = "NSUser";
						titleFormatting = { formatString = "Resent from “${resent-from.address}”"; };
						queryFormatting = { formatString = "resent-from.address = '${resent-from.address}'"; escapeSingleQuotes = 1; };
					},
					{
						titleImage = "NSUser";
						titleFormatting = { formatString = "Resent from “${resent-from.name}”"; };
						queryFormatting = { formatString = "resent-from.name = '${resent-from.name}'"; escapeSingleQuotes = 1; };
					},
				);
			},
			{
				prefix = { string = " ❙ "; };
				formatString = "${#date.#relative}";
				singleClick =
				{
					titleFormatting = { prefixString = "Date is "; formatString = "“${#date.day}”"; };
					queryFormatting = { formatString = "#date.day = '${#date.day}'"; escapeSingleQuotes = 1; };
				};
				toolTip = { formatDates = 1; formatString = "${#date-received}"; };
			},
		);
	};
	longFormatting =
	{
		separator = { string = "\n"; };
		placeholderString = "(No headers found)";
		// There is a lot of redundancy in the following. Need some way to simplify/template how this works.
		// For now, only Resent-From/To is displayed.
		// Note that this does not work well for multiple Resent headers, in particular, multiple Resent-To are hard to interpret/display.

		prefixString = "<pre id=\"console\"></pre><table><tbody>";
		suffixString = "</tbody></table><script src='file:///Users/me/Library/Application Support/MailMate/Resources/MmMessagesWebView/scripts/jquery-3.2.1.slim.min.js'></script><script src='file:///Users/me/Library/Application Support/MailMate/Resources/MmMessagesWebView/scripts/custom.js'></script>";

		children =
		(
			{
				prefix = { string = "<tr><td><span class=\"header_name\">Resent-From:</span></td><td><span class=\"header_body\">"; };
				suffixString = "</span></td></tr>";
				children =
				(
					{
						formatString = "${resent-from.name}";
						escapeHTML = 1;
						singleClick =
						{
							titleFormatting = { prefixString = "Resent from "; formatString = "“${resent-from.name}”"; };
							queryFormatting = { formatString = "resent-from.name = '${resent-from.name}'"; separatorString = " or "; escapeSingleQuotes = 1; };
						};
					},
					{
						prefix = { formatString = "${resent-from.name:+ <span class=\"hdr_addr\">}";};
						formatString = "${resent-from.address}";
						escapeHTML = 1;
						suffix = { formatString = "${resent-from.name:+</span>}";};
						singleClick =
						{
							titleFormatting = { prefixString = "Resent from "; formatString = "“${resent-from.address}”"; };
							queryFormatting = { formatString = "resent-from.address = '${resent-from.address}'"; separatorString = " or "; escapeSingleQuotes = 1; };
						};
					},
				);
				copyValues =
				(
					{ title = ''; valueFormatting = { formatString = '${resent-from.name:+${resent-from.name} <${resent-from.address}>}'; }; },
					{ title = 'Address Only'; valueFormatting = { formatString = '${resent-from.address}'; }; },
					{ title = 'Name Only'; valueFormatting = { formatString = '${resent-from.name}'; }; },
				);
				isAddress = :true;
			},
			{
				prefix = { string = "<tr><td><span class=\"header_name\">Resent-To:</span></td><td><span class=\"header_body\">"; };
				suffixString = "</span></td></tr>";
				sharedPrefix = "resent-to";
				separatorString = ", ";
				children =
				(
					{
						formatString = "${resent-to.name}";
						escapeHTML = 1;
						// Need alternative `#recipient` definition since resent addresses should not be part of `#recipient`.
						//  Maybe an alternative which includes resents...
						// singleClick =
						// {
						// 	titleFormatting = { prefixString = "Resent to "; formatString = "“${resent-to.name}”"; };
						// 	queryFormatting = { formatString = "#recipient.name = '${resent-to.name}'"; escapeSingleQuotes = 1; };
						// };
						copyValues =
						(
							{ title = ''; valueFormatting = { formatString = '${resent-to.name:+${resent-to.name} <${resent-to.address}>}'; }; },
							{ title = 'Address Only'; valueFormatting = { formatString = '${resent-to.address}'; }; },
							{ title = 'Name Only'; valueFormatting = { formatString = '${resent-to.name}'; }; },
						);
						isAddress = :true;
					},
					{
						prefix = { formatString = "${to.name:+ <span class=\"hdr_addr\">}";};
						formatString = "${to.address}";
						escapeHTML = 1;
						suffix = { formatString = "${to.name:+</span>}";};
						singleClick =
						{
							titleFormatting = { prefixString = "Resent to "; formatString = "“${resent-to.address}”"; };
							queryFormatting = { formatString = "#recipient.address = '${to.address}'"; escapeSingleQuotes = 1; };
						};
						copyValues =
						(
							{ title = ''; valueFormatting = { formatString = '${to.name:+${to.name} <${to.address}>}'; }; },
							{ title = 'Address Only'; valueFormatting = { formatString = '${to.address}'; }; },
							{ title = 'Name Only'; valueFormatting = { formatString = '${to.name}'; }; },
						);
						isAddress = :true;
					},
				);
			},
			{
				prefix = { string = "<tr><td><span class=\"header_name\">🗣</span></td><td><span class=\"header_body sent_header\">"; };
				suffixString = "</span></td></tr>";
				children =
				(
					{
						formatString = "${sender}";
						escapeHTML = 1;
						singleClick =
						{
							titleFormatting = { prefixString = "Sender "; formatString = "“${sender}”"; };
							queryFormatting = { formatString = "Sender = '${sender}'"; separatorString = " or "; escapeSingleQuotes = 1; };
						};
					},
				);
				copyValues =
				(
					{ title = ''; valueFormatting = { formatString = '${sender}'; }; },
				);
				isAddress = :false;
			},
			{
				prefix = { string = "<tr><td><span class=\"header_name\"><img id=\"h-from-img\" class=\"h-img\" onerror=\"imageError(this)\" src=\"file:///Users/me/Library/Application Support/MailMate/Resources/MmMessagesWebView/user.png\"/></span></td><td><span class=\"header_body\">"; };
				suffixString = "</span></td></tr>";
				children =
				(
					{
						prefix = { formatString = "<span class=\"h-name\" data-img=\"h-from-img\" data-addr=\"${from.address}\">";};
						formatString = "${from.name}";
						suffix = { string = "</span>";};
						escapeHTML = 1;
						singleClick =
						{
              titleImage = "NSUser";
              titleFormatting = { prefixString = "Any "; formatString = "“${from.address}”"; };
              queryFormatting = { formatString = "#any-address.address = '${from.address}'"; separatorString = " or "; escapeSingleQuotes = 1; };
						};
					},
					{
						prefix = { formatString = "<span class=\"h-addr ${from.name:+ h-hide}\" data-img=\"h-from-img\">";};
						formatString = "${from.address}";
						escapeHTML = 1;
						suffix = { string = "</span>";};
						singleClick =
						{
              titleImage = "NSUser";
              titleFormatting = { prefixString = "Any "; formatString = "“${from.address}”"; };
              queryFormatting = { formatString = "#any-address.address = '${from.address}'"; separatorString = " or "; escapeSingleQuotes = 1; };
						};
					},
				);
				copyValues =
				(
					{ title = ''; valueFormatting = { formatString = '${from.name:+${from.name} <${from.address}>}'; }; },
					{ title = 'Address Only'; valueFormatting = { formatString = '${from.address}'; }; },
					{ title = 'Name Only'; valueFormatting = { formatString = '${from.name}'; }; },
				);
				isAddress = :true;
			},
			{
				prefix = { string = "<tr><td><span class=\"header_name\"></span></td><td><span class=\"header_body\">"; };
				suffixString = "</span></td></tr>";
				children =
				(

					{
						prefix = { string = "["; };
						formatString = "${subject.blob}";
						escapeHTML = 1;
						suffix = { string = "] "; };
						singleClick =
						{
							titleFormatting = { prefixString = "Related to "; formatString = "${list-id.identifier:?“${list-id.identifier}”:[${subject.blob}]}"; };
							queryFormatting = { formatString = "${list-id.identifier:?list-id.identifier = '${list-id.identifier}':subject.blob = '${subject.blob}'}"; escapeSingleQuotes = 1; };
						};
						copyValues =
						(
							{ title = ''; valueFormatting = { formatString = '${subject}'; }; },
							{ title = 'Blob Only'; valueFormatting = { formatString = '${subject.blob}'; }; },
						);
					},
					{
						formatString = "${subject.body}";
						escapeHTML = 1;
						singleClick =
						{
							titleFormatting = { prefixString = "Related to "; formatString = "“${subject.body}”"; };
							queryFormatting = { formatString = "subject.body = '${subject.body}'"; escapeSingleQuotes = 1; };
						};
						copyValues =
						(
							{ title = ''; valueFormatting = { formatString = '${subject}'; }; },
							{ title = 'Without Prefix'; valueFormatting = { formatString = '${subject.body}'; }; },
						);
					},
				);
			},
			{
				prefix = { string = "<tr><td><span class=\"header_name\"></span></td><td><span class=\"header_body\">"; };
				suffixString = "</span></td></tr>";
				formatString = "${#date.formatted}";
				singleClick =
				{
					titleFormatting = { prefixString = "Date is "; formatString = "“${#date.day}”"; };
					queryFormatting = { formatString = "#date.day = '${#date.day}'"; escapeSingleQuotes = 1; };
				};
			},
			{
				prefix = { string = "<tr><td><span class=\"header_name\"><img id=\"h-img-to\" class=\"h-img-med\" onerror=\"imageError(this)\" src=\"file:///Users/me/Library/Application Support/MailMate/Resources/MmMessagesWebView/user.png\"/></span></td><td><span class=\"header_body\">"; };
				suffixString = "</span></td></tr>";
				sharedPrefix = "to";
				separatorString = ", ";
				limitString = " and %td more...";
				children =
				(
					{
						prefix = { formatString = "<span class=\"h-name\" data-addr=\"${to.address}\">";};
						formatString = "${to.name}";
						suffix = { string = "</span><img class=\"h-img-sm h-to-img-sm\" onerror=\"imageError(this)\" src=\"file:///Users/me/Library/Application Support/MailMate/Resources/MmMessagesWebView/user.png\"/>";};
						escapeHTML = 1;
						singleClick =
						{
              titleImage = "NSUser";
							titleFormatting = { prefixString = "Any "; formatString = "“${to.address}”"; };
							queryFormatting = { formatString = "#any-address.address = '${to.address}'"; escapeSingleQuotes = 1; };
						};
						copyValues =
						(
							{ title = ''; valueFormatting = { formatString = '${to.name:+${to.name} <${to.address}>}'; }; },
							{ title = 'Address Only'; valueFormatting = { formatString = '${to.address}'; }; },
							{ title = 'Name Only'; valueFormatting = { formatString = '${to.name}'; }; },
						);
						isAddress = :true;
					},
					{
						prefix = { formatString = "<span class=\"h-addr h-addr-to ${to.name:+ h-hide}\">";};
						formatString = "${to.address}";
						escapeHTML = 1;
						suffix = { formatString = "</span><img class=\"h-img-sm h-to-img-sm ${to.name:+ h-hide}\" onerror=\"imageError(this)\" src=\"file:///Users/me/Library/Application Support/MailMate/Resources/MmMessagesWebView/user.png\"/>";};
						singleClick =
						{
              titleImage = "NSUser";
							titleFormatting = { prefixString = "Any "; formatString = "“${to.address}”"; };
							queryFormatting = { formatString = "#any-address.address = '${to.address}'"; escapeSingleQuotes = 1; };
						};
						copyValues =
						(
							{ title = ''; valueFormatting = { formatString = '${to.name:+${to.name} <${to.address}>}'; }; },
							{ title = 'Address Only'; valueFormatting = { formatString = '${to.address}'; }; },
							{ title = 'Name Only'; valueFormatting = { formatString = '${to.name}'; }; },
						);
						isAddress = :true;
					},
				);
			},
			{
				prefix = { string = "<tr><td><span class=\"header_name\"><img id=\"h-img-cc\" class=\"h-img-med\" onerror=\"imageError(this)\" src=\"file:///Users/me/Library/Application Support/MailMate/Resources/MmMessagesWebView/users.png\"/></span></td><td><span class=\"header_body\">"; };
				suffixString = "</span></td></tr>";
				sharedPrefix = "cc";
				limitString = " and %td more...";
				separatorString = ", ";
				children =
				(
					{
						prefix = { formatString = "<span class=\"h-name\" data-addr=\"${cc.address}\">";};
						formatString = "${cc.name}";
						suffix = { string = "</span><img class=\"h-img-sm h-cc-img-sm\" onerror=\"imageError(this)\" src=\"file:///Users/me/Library/Application Support/MailMate/Resources/MmMessagesWebView/user.png\"/>";};
						escapeHTML = 1;
						singleClick =
						{
              titleImage = "NSUser";
							titleFormatting = { prefixString = "Any "; formatString = "“${cc.address}”"; };
							queryFormatting = { formatString = "#any-address.address = '${cc.address}'"; escapeSingleQuotes = 1; };
						};
						copyValues =
						(
							{ title = ''; valueFormatting = { formatString = '${cc.name:+${cc.name} <${cc.address}>}'; }; },
							{ title = 'Address Only'; valueFormatting = { formatString = '${cc.address}'; }; },
							{ title = 'Name Only'; valueFormatting = { formatString = '${cc.name}'; }; },
						);
						isAddress = :true;
					},
					{
						prefix = { formatString = "<span class=\"h-addr h-addr-cc ${cc.name:+ h-hide}\">";};
						formatString = "${cc.address}";
						escapeHTML = 1;
						suffix = { formatString = "</span><img class=\"h-img-sm h-cc-img-sm ${cc.name:+ h-hide}\" onerror=\"imageError(this)\" src=\"file:///Users/me/Library/Application Support/MailMate/Resources/MmMessagesWebView/user.png\"/>";};
						singleClick =
						{
              titleImage = "NSUser";
							titleFormatting = { prefixString = "Any "; formatString = "“${cc.address}”"; };
							queryFormatting = { formatString = "#any-address.address = '${cc.address}'"; escapeSingleQuotes = 1; };
						};
						copyValues =
						(
							{ title = ''; valueFormatting = { formatString = '${cc.name:+${cc.name} <${cc.address}>}'; }; },
							{ title = 'Address Only'; valueFormatting = { formatString = '${cc.address}'; }; },
							{ title = 'Name Only'; valueFormatting = { formatString = '${cc.name}'; }; },
						);
						isAddress = :true;
					},
				);
			},
			{
				prefix = { string = "<tr><td><span class=\"header_name\">🔒</span></td><td><span class=\"header_body\">"; };
				suffixString = "</span></td></tr>";
				sharedPrefix = "bcc";
				limitString = " and %td more...";
				separatorString = ", ";
				children =
				(
					{
						prefix = { formatString = "<span class=\"h-name\">";};
						formatString = "${bcc.name}";
						suffix = { string = "</span>";};
						escapeHTML = 1;
						singleClick =
						{
              titleImage = "NSUser";
							titleFormatting = { prefixString = "Any "; formatString = "“${bcc.address}”"; };
							queryFormatting = { formatString = "#any-address.address = '${bcc.address}'"; escapeSingleQuotes = 1; };
						};
						copyValues =
						(
							{ title = ''; valueFormatting = { formatString = '${bcc.name:+${bcc.name} <${bcc.address}>}'; }; },
							{ title = 'Address Only'; valueFormatting = { formatString = '${bcc.address}'; }; },
							{ title = 'Name Only'; valueFormatting = { formatString = '${bcc.name}'; }; },
						);
						isAddress = :true;
					},
					{
						prefix = { formatString = "<span class=\"h-addr ${bcc.name:+ h-hide}\">";};
						formatString = "${bcc.address}";
						escapeHTML = 1;
						suffix = { string = "</span>";};
						singleClick =
						{
              titleImage = "NSUser";
							titleFormatting = { prefixString = "Any "; formatString = "“${bcc.address}”"; };
							queryFormatting = { formatString = "#any-address.address = '${bcc.address}'"; escapeSingleQuotes = 1; };
						};
						copyValues =
						(
							{ title = ''; valueFormatting = { formatString = '${bcc.name:+${bcc.name} <${bcc.address}>}'; }; },
							{ title = 'Address Only'; valueFormatting = { formatString = '${bcc.address}'; }; },
							{ title = 'Name Only'; valueFormatting = { formatString = '${bcc.name}'; }; },
						);
						isAddress = :true;
					},
				);
			},
			{
				prefix = { string = "<tr><td><span class=\"header_name\">🔑</span></td><td><span class=\"header_body\">"; };
				suffixString = "</span></td></tr>";
				separatorString = " ";
				children =
				(
					{
						// formatString = "${#encrypted:+🔒Encrypted (${#security-protocol:+Unknown protocol})}";
						formatString = "${#encrypted:+🔒Encrypted}";
						singleClick = { selector = "showDetails:"; };
						toolTip = { formatString = "This message is encrypted."; };
					},
					{
						// formatString = "${#signed:+✓Signed (${#security-protocol:+Unknown protocol})}";
						formatString = "${#signed:+✓Signed}";
						singleClick = { selector = "showDetails:"; };
						toolTip = { formatString = "This message is signed."; };
					}
				);
			},
			{
				prefix = { string = "<tr><td><span class=\"header_name\">🏷</span></td><td><span class=\"header_body\">"; };
				suffixString = "</span></td></tr>";
				separatorString = " ";
				sharedPrefix = "##tags.tag";
				children =
				(
					{
						formatString = "${##tags.tag.#shortname}${##tags.tag.#name}";
						escapeHTML = 1;
						singleClick =
						{
							titleFormatting = { prefixString = "Tagged "; formatString = "“${##tags.tag.#name}”"; };
							queryFormatting = { formatString = "##tags.tag = '${##tags.tag}'"; escapeSingleQuotes = 1; };
						};
						copyValues =
						(
							{ title = ''; valueFormatting = { formatString = '${##tags.tag.#name}'; }; },
							{ titleFormatting = 'Server Keyword (${##tags.tag})'; valueFormatting = { formatString = '${##tags.tag}'; }; },
						);
					},
				);
			},
		);
	};

	allFormatting =
	{
		separator = { string = "\n"; };
		placeholderString = "(No headers found)";

		prefixString = "<table><tbody>";
		suffixString = "</tbody></table>";

		template = {
			prefixString = "<tr><td><span class=\"header_name\">${HEADER}:</span></td><td><span class=\"header_body\">";
			formatString = "${HEADER}";
			suffixString = "</span></td></tr>";
			escapeHTML = 1;
		};
	};
}
